{% extends "layouts/main.twig" %}

{% block content %}

{% set articles = craft.entries.relatedTo(category) %}

{% if articles[0] is defined %}
    <div class="col-full">
        {% include '_elements/card.twig' with {article: articles[0]} %}
    </div>
{% endif %}

<div class="channel">
    {% if articles|length > 0 %}
        {% include '_elements/_card-layout.twig' with {articles: articles} %}
    {% endif %}
</div>

{% endblock %}
