{% extends "layouts/main.twig" %}

{# {{ set(this, 'title', _Blog.getBlogTitle()) }} #}
{% set articles = articlesArr.articles %}

{% block content %}

	<h1>hello world2</h1>

	{% for entry in articles.find() %}
			{% include '_elements/card' %}
	{% endfor %}



{% endblock %}
