.button {
  background: transparent;
  border: 1px solid #C5C8D2;
  border-radius: 2px;
  padding: 6px 20px 8px 20px;
  display: inline-block;
  @include text-sm;
  @include transition(all 0.4s ease);
  &__follow {
    font-size: 13px;
    color: #FFF;
    padding: 3px 10px 4px;
    max-width: 62px;
    border: 1px solid #fff;
    &:hover, &:active {
      background: #fff;
      color: rgb(65, 83, 90);
    }
    &--reverse {
      color: $body-text;
      background-color: white;
      border: none;
      &:hover, &:active {
        color: #D0EDF5;
      }
    }
  }
  &__share {
    @extend .button__follow;
    position: relative;
  }
  &__profile-follow {
    margin-bottom: 22px;
    border-radius: 100px;
    border: none;
    background-color: #576b74;
    color: white;
    padding: 8px 40px 10px;
    &:hover {
      color: #576b74;
      background-color: $white;
    }
  }
}

.blog {
  .button__follow {
    padding: 8px 16px 9px;
    margin-left: 20px;
    border-radius: 2px;
    max-width: 75px;
  }
}

.profile__button-wrap {
  display: flex;
  > a:first-child {
    margin-right: 5px;
  }
}


.header_actions {
  &__comments, &__share {
    margin-top: 12px;
    padding-left: 35px;
    height: 33px;
    @include transition(all 0.4s ease);
    &:hover {
      color: rgb(65, 83, 90);
      border: 1px solid rgb(65, 83, 90);
    }
  }
  &__comments {
    background-image: url(/static/images/icons/comment-icon.svg);
    background-repeat: no-repeat;
    background-position: 13px 8px;
    margin-right: 10px;
  }
  &__share {
    background-image: url(/static/images/icons/share-icon.svg);
    background-repeat: no-repeat;
    background-position: 13px 8px;
    border-radius: 0;
    position: relative;
    .share-popup .share-popup__close {
      width: auto;
      margin: 0;
    }
  }
}

.user-header__comments, .user-header__share {
  height:32px;
  padding: 6px 20px 8px 20px;
  max-width:none;
  max-height: 32px;
}
