.footer {
  background-color: $header-background;
  padding-top: 70px;
  padding-bottom: 80px;

  &__container {
    @extend .container;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    @include desktop-sm {
      justify-content: space-between;
    }
  }

  &__info-mobile {
    text-align: center;
    display: flex;
    flex-direction: column;
    > * {
      display: inline-block;
      margin-bottom: 10px;
      @include text-sm($color: $white, $font-multiplier: 0.78, $line-height: 1.73);
    }
    @include desktop-sm {
      display: none;
    }
  }

  &__logo {
    margin-bottom: 40px;
    @include desktop-sm {
      display: inline-block;
      margin-bottom: 25px;
      img {
        width: 200px;
      }
    }
  }

  &__social-links {
    margin-bottom: 18px!important;
    .fa {
      color: #363636;
      width: 30px;
      display: inline-block;
      height: 30px;
      border-radius: 100px;
      background-color: $white;
      padding-top: 8px;
      margin: auto 2px;
      @include transition(color 0.5s ease);
      @include desktop-sm {
        text-align: center;
        margin: auto auto auto 2px;
      }
      &:hover {
        color: #FBE1AC;
      }
    }
  }

  &__desktop {
    display: none;
    @include desktop-sm {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .header__navigation-list {
			margin: 0;
	    text-align: left;
	    padding: 0;
	    border: none;
    }
    .header__navigation-item {
      margin-bottom: 10px;
      .header__navigation-link {
        color: white;
      }
    }
  }

  &__copyright {
    @include text-sm($color: $white, $font-multiplier: 0.78, $line-height: 1.73);
    @include desktop-sm {
      text-align: left;
      //margin-top: 35px;
      width: 100%;
    }
  }

  &__right {
    @include desktop-sm {
      display: flex;
      align-items: center;
      width: 20%;
      justify-content: flex-end;
    }
  }

  &__additional-links {
    @include transition(color 0.5s ease);
    @include desktop-sm {
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;
      flex-direction: column;
      > * {
        display: inline-block;
        @include text-sm($color: $white, $font-multiplier: 0.78, $line-height: 1.73);
      }
      > a:last-child {
        margin-bottom: 0;
      }
    }
  }
}
