// Sections
@each $section, $values in $sections {
  $name:  $section;
  $color: map-get($values, color);
  //$gradient: map-get($values, gradient);
  $background-color: map-get($values, background-color);
  $length: length($sections);

  //Change styling for header
  .header__navigation-list {
    li:nth-child(#{$length}n+#{$name}) a:hover {
         color: $color;
    }
  }

  .footer__navigation-list {
    li:nth-child(#{$length}n+#{$name}) a:hover {
      color: $color;
    }
  }

  div.home, div.channel, div.profile {
    div:nth-child(#{$length}n+#{$name}) {
      .card {
        border-top: 4px solid $color;
        .card {
          &__channel {
            color: $color;
            &::after {
              background-color: $color;
            }
          }
          &__overlay {
            //background: $background-color;
            //background-image: $gradient!important;
          }
          &__no-image .card__overlay {
            //background: $color;
          }
          &__author {
            //color: $color;
          }
        }
        &.card__no-image .card__content_wrap {
          background-color: $background-color;
        }
      }
    }
  }
  div.channels {
    a:nth-child(#{$length}n+#{$name}) {
      .channel-thumb {
        &__overlay {
          //background: $background-color;
          //background-image: $gradient!important;
        }
      }
    }
  }

  $random-section: map-get($sections, (random(length($sections)) - 1));

  $first-card-color: map-get($random-section, color);


  .col-third-container > div:nth-child(#{$length}n+#{$name}) article {
    .card {
      border-top: 4px solid $first-card-color!important;
      .card {
        &__channel {
          &::after {
            background-color: $first-card-color;
          }
        }
      }
      &.card__no-image {
        border-top: 4px solid $first-card-color;
        .card__content .card__channel-wrap .card__channel {
          color: $first-card-color;
        }
      }
    }
  }

  .social-modal__channel--#{$name} {
    color: $color;
  }

  .card__follow.card--#{$name} {
    background-color: $color;
  }

  .article--#{$name} {
    border-color: $color;

    .article {
      &__banner {
        border-color: $color;
      }
      &__category {
        color: $color;
        &:after{
          background: $color;
        }
      }
      &__follow {
        background-color: $color;
      }
      &__caption {
        .card {
          &__author {
            color: $color;
          }
        }
      }
    }
  }
}

$random-section: map-get($sections, (random(length($sections)) - 1));
$random-section-two: map-get($sections, (random(length($sections)) - 1));
$random-section-three: map-get($sections, (random(length($sections)) - 1));
$random-section-four: map-get($sections, (random(length($sections)) - 1));

$first-card-color: map-get($random-section, color);
$article-image-color: map-get($random-section-two, color);
$profile-image-color: map-get($random-section-three, color);
$contact-image-color: map-get($random-section-four, color);

#content > .col-full .card__channel::after {
  background-color: $first-card-color;
}

#content > .col-full .card {
  border-top: 4px solid $first-card-color;
}

.contact__body {
  border-top: 4px solid $contact-image-color;
  .contact__submit {
    border: 1px solid $contact-image-color;
    color: $contact-image-color;
  }
}

.profile__header {
  border-top: 4px solid $profile-image-color;
  .button__follow {
    border: 1px solid $profile-image-color;
    color: $profile-image-color;
    &:hover, &:active {
      background: $profile-image-color;
      color: $white;
    }
  }
}

.article {
  &__image {
    border-top: 4px solid $article-image-color;
  }
  &__channel {
    @include text-sm($letter-spacing: 0.012em);
    color: $article-image-color;
    &::after {
      background-color: $article-image-color;
    }
  }
  .button__follow {
    border: 1px solid $article-image-color;
    color: $article-image-color;
    &:hover, &:active {
      background: $article-image-color;
      color: $white;
    }
  }
}

.simplemodal {
  &-overlay {
    &:hover {
      cursor: pointer;
    }
  }
}