$light-color:       #fff;
$gray-color:        #ebebeb;
$dark-color:        #000000;
$grey:			    #808080;
$body-text:         #4A4A4A;
$header-background: #363636;
$body-color:        rgb(236,236,236);

$highlight-color:   #36647E;
$quote-color:       #662d91;
$hover-color:       $highlight-color;
$follow-color:      #00a651;
$hashtag-color:     #55acee;
$slide-color:       #0076a3;
$blue:              #46a5fc;
$transparent:       rgba(0,0,0,0);
$border-color:      #e0e0e0;
$placeholder:       rgba(255, 255, 255, 0.8);

$error-color:       #e73d4a;
$success-color:     #4FE8C4;
$warning:           #fecd50;
$black:             #000000;
$white:             #ffffff;

$sections: (
        0:    (
                color: #9013FE,
                background-color: rgba(144, 19, 254, 0.3)
        ),
        1: (
                color: #52A097,
                background-color: rgba(82, 160, 151, 0.3)
        ),
        2:        (
                color: #41A7CD,
                background-color: rgba(65, 167, 205, 0.3)
        ),
        3:         (
                color: #FFA702,
                background-color: rgba(255, 167, 2, 0.3)
        ),
        4:     (
                color: #CF1FB7,
                background-color: rgba(207, 31, 183, 0.3)
        ),
        5:       (
                color: rgb(162, 129, 234),
                background-color: rgba(162, 129, 234, 0.3)
        ),
        6:         (
                color: rgb(108, 210, 248),
                background-color: rgba(108, 210, 248, 0.3)
        ),
        7:      (
                color: rgb(93, 228, 216),
                background-color: rgba(93, 228, 216, 0.3)
        ),
        8:      (
                color: rgb(87, 211, 149),
                background-color: rgba(87, 211, 149, 0.3)
        )
);

$cards: (
        facebook:    #3b5998,
        featured:    #15b999,
        google-plus: #e04a32,
        instagram:   #9f6fc0,
        linkedin:    #123e65,
        twitter:     #55acee,
        youtube:     #cc181e,
        vimeo:       #00b3ec,
);


@function color($card_type) {
  @return map-get($cards, $card_type);
}

// Grids
$grid-gutter-width: 20px;

// Dimensions
$screen-xs: 480px;  // Mobile
$screen-sm: 768px;  // Tablet
$screen-md: 1190px; // Desktop
$screen-lg: 1600px; // Large desktop

// Font
$heading-font-family: "Open Sans", Helvetica, Arial, sans-serif !default;
$base-font-family:  	"Open Sans", Helvetica, Arial, sans-serif !default;
$text-font-family: 	"Open Sans", Helvetica, Arial, sans-serif !default;
$iconfont:				FontAwesome !default;

// Font Size
$baseFontSize:			18px; /* ($baseFontSize * 1) + 0px; */
$center:				center;
